  <input id="TS1" type="number"  class="form-control" [formControl]="input1" (focusout)="changeStreamOneValue()" value="0"   >
  <button class="btn btn-danger mb-2 mt-2" (click)="finishStream1()">Terminate Stream 1</button>
  <input id="TS2" type="number" class="form-control" [formControl]="input2" (focusout)="changeStreamTwoValue()"  value="0" >
  <button class="btn btn-danger mb-2 mt-2" (click)="finishStream2()">Terminate Stream 2</button>

  <p name="merge" id="merge">merge : <span>
    {{ merge$ | async }}
  </span></p>

  <p name="scan" id="scan">scan : <span>
    {{ scan$ | async }}
  </span></p>

  <p name="redue" id="reduce">reduce : <span>
    {{ reduce$ | async }}
  </span> </p>



